body {
  font-family: 'Fira Code', monospace;
  background : #131425;
  color      : #333;
  padding    : 1em;
}

.main {
  max-width       : 600px;
  margin          : 0 auto 300px;
  background-color: #131425;
  padding         : 2em 2em 0em 2em;
}

h1 {
  color        : #3BD9BC;
  margin-top   : 10px;
  margin-bottom: 0px;
  text-align   : center;
}

h2 {
  color        : #3BD9BC;
  margin-bottom: 5px;
}

h3 {
  color        : #3BD9BC;
  margin-bottom: 5px;
}

p {
  color      : #3BD9BC;
  margin     : 2px 0px;
  font-weight: 600;
}

button {
  font-weight     : 600;
  background-color: #3BD9BC;
  color           : #131425;
  font-weight     : 800;
  padding         : 10px 15px;
  border          : none;
  border-radius   : 2px;
  cursor          : pointer;
  transition      : .3s;
  margin          : 3px;
}

button:hover {
  box-shadow: 0 0 20px #3BD9BC;
}

.todo-list {
  margin-bottom : -10px;
  padding-bottom: 10px;
}

.todo {
  color           : #3BD9BC;
  background-color: #131425;
  padding         : 1em;
  margin-bottom   : 10px;
  border          : 2px solid #03A696;
  border-radius   : 3px;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  transition      : background-color transform .2s ease-in-out;
}

.todo:hover {
  transition: cubic-bezier(0.07, 1.40, .80, 1.40) 0.2s;
  transform : scale(1.01);
  box-shadow: 0 0 10px #03A696;
}

.complete {
  background-color: #3BD9BC;
}

.remove {
  background-color: #6C72D9;
}

.todo-form {
  padding-bottom: 1.4rem;
}

input,
select {
  background-color: #131425;
  color           : #3BD9BC;
  width           : 100%;
  box-sizing      : border-box;
  font-weight     : 600;
  padding         : 10px;
  margin-bottom   : 10px;
  border          : 2px solid #03A696;
  border-radius   : 3px;
}

input:hover {
  box-shadow: 0 0 10px #03A696;
}

select:hover {
  box-shadow: 0 0 10px #03A696;
}

input:focus {
  outline   : none;
  box-shadow: 0 0 10px #03A696;
}

input::placeholder {
  color: #3BD9BC;
}

select:focus {
  outline   : none;
  box-shadow: 0 0 10px #03A696;
}

.filter {
  margin-bottom : 20px;
  margin-top    : -10px;
  padding-bottom: 20px;
}

.filter-options {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.order {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.status-select {
  margin-bottom: 0px;
}

.search {
  display       : flex;
  flex-direction: column;
  margin-bottom : 0px;
}

footer {
  background-color: none;
  color           : #fff;
  text-align      : center;
  width           : 100%;
}

footer a {
  color          : #03A696;
  text-decoration: none;
}

footer a:hover {
  color : #3BD9BC;
  cursor: pointer;
}

footer img {
  filter    : invert();
  cursor    : pointer;
  transition: all 0.3 ease-in-out;
  width     : 26px;
}

footer img:hover {
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}