body {
  font-family: 'Fira Code', monospace;
  background: #131425;
  color: #333;
  padding: 30px; 
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #131425;
  padding: 1.5em;
  border: 2px solid #03A696;
}

h1 {
  color: #3BD9BC;
  margin-top: 0px;
  text-align: center;
}

h2 {
  color: #3BD9BC;
  margin-bottom: 10px;
}

h3 {
  color: #3BD9BC;
  margin-bottom: 5px;
}

p {
  margin: 10px 0;
  font-weight: 600;
}

button {
  font-weight: 600;
  background-color: #3BD9BC;
  color: #131425;
  font-weight: 800;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s;
  margin-right: 10px;
}

button:hover {
  box-shadow: 0 0 10px #03A696;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #03A696;
}

.todo {
  color: #3BD9BC;
  background-color: #131425;
  padding: 1em;
  margin-bottom: 10px;
  border: 2px solid #03A696;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color transform .2s ease-in-out;
}

.todo:hover {
  transition: cubic-bezier( 0.07, 1.40, .80, 1.40) 0.2s;
  transform: scale(1.01);
  box-shadow: 0 0 10px #03A696;
}

.complete {
  background-color: #3BD9BC;
}

.remove {
  background-color: #6C72D9;
}

.todo-form {
  padding-bottom: 1.4rem;
}

input, select {
  background-color: #131425;
  color: #3BD9BC;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #03A696;
  border-radius: 3px;
}

input:hover {
  box-shadow: 0 0 10px #03A696;
}

select:hover {
  box-shadow: 0 0 10px #03A696;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #03A696;
}

input::placeholder {
  color: #3BD9BC;
}

select:focus {
  outline: none;
  box-shadow: 0 0 10px #03A696;
}
