body {
  font-family: Helvetica, sans-serif;
  padding: 30px;
  color: #333;
  /* backrground-image: url(''); */
  background-position: center;
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(245, 245, 245);
  padding: 1.5em;
  border-radius: 10px;
  
}

h1 {
  margin-top: 0px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
  font-weight: 600;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #904e95;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s;
  margin: 5px;
}

.complete {
  background-color: green;
}

.remove {
  background-color: crimson;
}

button:hover {
  opacity: 1;
}

.todo-form {
  padding-bottom: 1.4rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}